@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100,300;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.active {
  color: white;
}
